<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>关于我们</title>
  
  <link rel="stylesheet" href="../css/bootstrap.css"/>

	<link href="../css/css_slider.css" type="text/css" rel="stylesheet" media="all"/>

	<link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
	<link href="../static/css/font-awesome.min.css" rel="stylesheet"/>



	<!-- Web-Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet"/>
	<link href="http://fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900&amp;subset=arabic" rel="stylesheet"/>
	<!-- //Web-Fonts -->
  
  
  <link rel="stylesheet" type="text/css" href="../res/static/css/main.css" />
  <link rel="stylesheet" type="text/css" href="../res/layui/css/layui.css" />
  <script type="text/javascript" src="../res/layui/layui.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
</head>
<body>

  <div class="site-nav-bg">
    <div class="site-nav w1200">
      <p class="sn-back-home">
        <i class="layui-icon layui-icon-home"></i>
        <a href="/">首页</a>
      </p>
      <div class="sn-quick-menu">
        <div class="login"><a href="/login">登录</a></div>
        <div class="login"><a href="/goToRegister">注册</a></div>
        <div class="login"><a href="/Cart/queryCart">购物车</a></div>
        <div class="login"><a href="/queryCurrentAllOrders">我的订单</a></div>
      </div>
    </div>
  </div>



  <div class="header">
    <div class="headerLayout w1200">
      <div class="headerCon">
        <h1 class="mallLogo">
          <a href="/" title="返回首页">
            <img src="../res/static/img/logo.jpg" style="width: 140px" href="/"/>
          </a>
        </h1>
		<div class="mallSearch"></div>		
		<div>
			<img src="../res/static/img/tel.jpg"
				style="width: 402px; padding-top: 15px; padding-left: 10px" />
		</div>
	</div>
    </div>
  </div>


  <div class="content content-nav-base about-content">
    <div class="main-nav">
      <div class="inner-cont0">
        <div class="inner-cont1 w1200">
          <div class="inner-cont2">
            <a href="/">返回首页</a>
            <a href="/shop/queryAllGoods">所有商品</a>
            <a href="/inforMation">宠物资讯</a>
            <a href="/about"  class="active">关于我们</a>
          </div>
        </div>
      </div>
    </div>
    
    
    
    	<!-- banner -->
		<div class="main-w3pvt">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6 style-banner">
						<div class="style-banner-inner" style="padding-left:80px">
							<h3 class="font-weight-bold text-uppercase"><span class="font-weight-normal">关于</span> 我们 </h3>
							<p class="mt-3">About us</p>
							<a href="about.html" class="btn button-style mt-sm-5 mt-4">Read More</a>
						</div>
					</div>
					<div class="col-lg-6 img-banner-w3 text-center">
						<div class="csslider infinity" id="slider1">
							<input type="radio" name="slides" checked="checked" id="slides_1" />
							<input type="radio" name="slides" id="slides_2" />
							<input type="radio" name="slides" id="slides_3" />
							<input type="radio" name="slides" id="slides_4" />
							<ul class="banner_slide_bg">
								<li>
									<img src="images/s1.jpg" alt="" class="img-fluid"/>
								</li>
								<li>
									<img src="images/d6.jpg" alt="" class="img-fluid"/>
								</li>
								<li>
									<img src="images/s11.jpg" alt="" class="img-fluid"/>
								</li>
								<li>
									<img src="images/d6.jpg" alt="" class="img-fluid"/>
								</li>
							</ul>
							<div class="navigation">
								<div>
									<label for="slides_1"></label>
									<label for="slides_2"></label>
									<label for="slides_3"></label>
									<label for="slides_4"></label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //banner -->
    
    

     <div class="brief-content layui-clear w1200">
      <div class="img-box">
        <img src="../res/static/img/qiutian.jpeg" style="width: 400px;height: 460px"/>
        <img class="top" src="../res/static/img/bomei1.jpeg" style="width: 400px;height: 460px"/>
      </div>
      <div class="text">
        <p>我们的宠物产业2019年涉足宠物行业，以品牌经销为主，在强大市场的推动下，于2019年创立自己的独立品牌。公司立足于江苏南京，2年的品牌沉淀和运营经验让我们在行业中获得良好的口碑和市场份额。以直营+连锁加盟模式，让成功可复制，成为越来越多中小投资者的优选项目，更多的消费者青睐我们的产品。</p>
        <p>我们的宠物产业2019年涉足宠物行业，以品牌经销为主，在强大市场的推动下，于2019年创立自己的独立品牌。公司立足于江苏南京，2年的品牌沉淀和运营经验让我们在行业中获得良好的口碑和市场份额。以直营+连锁加盟模式，让成功可复制，成为越来越多中小投资者的优选项目，更多的消费者青睐我们的产品。</p>
      </div>
    </div>
    
     <div class="banner-text">
      <div class="w1200">
        <p>我们的宠物产业2019年涉足宠物行业，以品牌经销为主，在强大市场的推动下，于2019年创立自己的独立品牌。公司立足于江苏南京，2年的品牌沉淀和运营经验让我们在行业中获得良好的口碑和市场份额。以直营+连锁加盟模式，让成功可复制，成为越来越多中小投资者的优选项目，更多的消费者青睐我们的产品。</p>
      </div>
    </div>
    <br/>
    <!-- page details -->
	<div class="breadcrumb-w3ls py-1">
		<div class="container">
			<ol class="breadcrumb m-0">
				<li class="breadcrumb-item">
					<a href="/">Home</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Contact Us</li>
			</ol>
		</div>
	</div>
	<!-- //page details -->
   
  <!-- contact  -->
	<section class="contact py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3 mb-5 font-weight-bold">Contact Us <span>Send Message</span></h3>
			<div class="row">
				<!-- contact form -->
				<div class="col-lg-6 contact-us1-bottom w3layouts-w3ls">
					<form action="#" method="post">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Name" name="name" required=""/>
						</div>
						<div class="form-group">
							<input type="email" class="form-control" placeholder="Email" name="email" required=""/>
						</div>
						<div class="form-group">
							<textarea class="form-control" placeholder="Message" name="message" required=""></textarea>
						</div>
						<button type="submit" class="btn">Submit</button>
					</form>
				</div>
				<!-- //contact form -->
				<!-- contact address -->
				<div class="col-lg-6 home-radio-clock mt-lg-0 mt-5">
					<h3 class="tittle text-dark mb-5 font-weight-bold">Get In Touch</h3>
					<div class="row">
						<div class="col-4">
							<ul class="list-unstyled">
								<li><i class="fa fa-envelope mr-2" aria-hidden="true"></i>Address</li>
								<li class="my-5"><i class="fa fa-phone mr-2" aria-hidden="true"></i>Call Us</li>
								<li><i class="fa fa-clock-o mr-2" aria-hidden="true"></i>Opening Time</li>
							</ul>
						</div>
						<div class="col-8">
							<div class="home-radio-clock-right">
								<ul class="list-unstyled">
									<li>北京市海淀区
										<span>大钟寺中鼎大厦</span></li>
									<li class="my-4">(010) 123-456-78
										<span>(010) 123-456-78</span>
									</li>
									<li>Mon-Sat:<span>08h-17h</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //contact address -->
			</div>
		</div>
	</section>
	<!-- map -->
	<div class="map" style="margin:0px 160px 50px;">
		<iframe src="map.html"  frameborder="0" scrolling="no" ></iframe>
	</div>
	<!-- //map -->
	<!-- //contact -->
  </div>


	
	<div class="footer">
    <div class="ng-promise-box">
      <div class="ng-promise w1200">
        <p class="text">
          <a class="icon1" href="javascript:;">7天无理由退换货</a>
          <a class="icon2" href="javascript:;">全场满99元免邮</a>
          <a class="icon3" style="margin-right: 0" href="javascript:;">100%品质保证</a>
        </p>
      </div>
    </div>
    <div class="mod_help w1200">                                     
      <p>
        <a href="javascript:;">关于我们</a>
        <span>|</span>
        <a href="javascript:;">帮助中心</a>
        <span>|</span>
        <a href="javascript:;">售后服务</a>
        <span>|</span>
        <a href="javascript:;">星空资讯</a>
        <span>|</span>
        <a href="javascript:;">关于货源</a>
      </p>
      <p class="coty">星空宠物商城版权所有 &copy; 2012-2020</p>
    </div>
  </div>
	
	


<script type="text/javascript">

layui.config({
    base: '../res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm'],function(){
      var
     mm = layui.mm;
  
    

});
</script>
</body>
</html>